@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Athiti&display=swap");

body {
  background-color: #e4e4e5;
  font-family: Allerta Stencil, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 2%;
}

/* style for game instructions that displays when the page loads */
#start-message {
  display: none;
}

#start-message.show {
  margin-top: 4%;
  font-family: Athiti, sans-serif;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 1px solid black;
  background-color: #dedee4;
  color: black;
  width: 50%;
  height: 80%;
  font-size: 1.5em;
}

#start-message > h2 {
  margin-top: 4%;
  text-align: center;
  border-bottom: 1;
}

#start-message > p{
  padding: 0 10px;
}

.rules {
  text-align: center;
}

.rules > b {
  text-decoration: underline;
}

#start-message > button {
  border-radius: 5%;
  padding: 2%;
  margin-bottom: 10px;
  background-color: #b8b8b9;
  display: flex;
  margin: 0 auto;
}

#start-message > button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

/* This is the score area which is update when a user wins a round */
.score-area {
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: 0 auto;
  justify-content: space-evenly;
}

.line-one {
  border-bottom: 1px solid #c9c7c7;
  width: 40%;
  margin: 0 auto;
}

.winner-of-round {
  font-size: 1.4em;
  width: 80%;
  text-align: center;
  margin: 4% auto;
  border-bottom: 1px solid #2b2a2a;
  padding-bottom: 2%;
}

#computer-result {
  color: red;
}

#user-result {
  color: green;
}

/* This is the section where the choice section where it shows and image of both player and computer choices */
#game-players {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.choice {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.choice > img {
  width: 20vw;
  height: 20vh;
}

#userpic {
  border-right: 1px solid #c9c7c7;
  padding-right: 15%;
}

.choose-hand-text {
  font-size: 1.5em;
  margin: 5% auto 0;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  border-top: 1px solid black;
  width: 60vw;
}

/* This is the button section where the user selects their hand */
.btn-container {
  display: flex;
  width: 60vw;
  margin: 0 auto;
  justify-content: space-around;
}

button > img {
  width: 10vw;
  height: 15vh;
}

button {
  background-color: #e4e4e5;
  border: none;
  transition: 100ms;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

h3 {
  text-align: center;
}

/* Winner message that displays When the game is over */
#winnerMessage {
  display: none;
}

#winnerMessage.show {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border: 10px solid #578C4D;
  background-color: #F6F9F5;
  color: black;
  width: 60%;
  height: 25%;
  font-size: 1.5em;
}

#winnerMessage.lose {
 border-color: rgb(150, 24, 24);
}


#winnerMessage > p {
  padding-top: 5%;
}

#winnerMessage > button {
    border-radius: 5%;
    padding: 2%;
    background-color: #2a2b2a;
    margin: 0 auto;
    color: white;
}

#winnerMessage > button:hover {
  cursor: pointer;
}
/* Media queries below here */
/* Media query for larger screen */
@media screen and (min-width: 1420px) {
    h1 {
        margin-bottom: 1%;
      }

    .winner-of-round {
       margin: 2% auto;
        
      }
      
      #game-players > p:nth-child(1){
        padding-left: 5%;
      }

      #game-players > p:nth-child(2){
        padding-right: 3%;
      }
}
/* For medium size screens */
@media screen and (max-width: 1280px) {
  #start-message.show {
    margin-top: 7%;
    font-size: 1.3em;
  }

  #start-message > h2 {
    margin-top: 5%;
  }

  #winnerMessage.show {
    width: 80%;
    font-size: 1.2em;
  }

  #winnerMessage > p {
    padding-top: 8%;
  }

  #winnerMessage > p {
    padding-top: 5%;
  }
}

@media screen and (max-width: 900px) {
  #start-message.show {
    margin-top: 7%;
    width: 60%;
    font-size: 1.2em;
  }
}

/* This is the media queries section for smaller screens */
@media screen and (max-width: 700px) {
  #start-message.show {
    margin-top: 12%;
    width: 70%;
    font-size: 1.1em;
  }

  #start-message > h2 {
    margin-top: 8%;
  }

  .score-area {
    width: 80vw;
    font-size: 1em;
  }

  .btn-container {
    width: 80vw;
  }

  #winnerMessage.show {
    width: 80%;
    font-size: 1em;
    height: 20%;
  }

  #winnerMessage > p {
    padding-top: 10%;
  }
}

@media screen and (max-width: 420px) {
  #start-message.show {
    margin-top: 2%;
    width: 90%;
    font-size: 1em;
  }

  .score-area {
    width: 95vw;
    font-size: small;
  }

  .choice {
    width: 70%;
  }

  button > img {
    width: 15vw;
    height: 10vh;
  }

  #game-players {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
  }

  #winnerMessage > p {
    padding-top: 12%;
  }
}

@media screen and (max-width: 360px) {
  #start-message.show {
    margin-top: 1%;
    width: 98%;
    height: 95%;
  }

  .score-area {
    width: 100%;
    font-size: small;
  }

  #game-players {
    font-size: x-small;
  }

  .choose-hand-text {
    font-size: 1.2em;
  }

  #winnerMessage > p {
    padding-top: 8%;
  }
}
