@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Athiti&display=swap');

body {
    background-color: #e4e4e5;
    font-family: Allerta Stencil, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 2%;
    
}

/* This is the score area which is update when a user wins a round */
.score-area {
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    width: 60vw;
    margin: 0 auto;
    justify-content:space-evenly;
}

.line-one {
    border-bottom: 1px solid #c9c7c7;
    width: 40%;
    margin: 0 auto;   
}

.winner-of-round {
    font-size: 1.4em;
    width: 80%;
    text-align: center;
    margin: 4% auto;
    border-bottom: 1px solid #2b2a2a;
    padding-bottom: 2%;
}


#computer-result {
    color: red;
}

#user-result {
    color: green;
}


/* This is the section where the choice section where it shows and 
   image of both player and computer choices */

#game-players {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}



.choice {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;   
}

/*                                      this is where we uploaded to in gitpod */
.choice > img {
    width: 20vw;
    height: 20vh;  
}

#userpic {
    border-right: 1px solid #c9c7c7;
    padding-right: 15%;
}

.choose-hand-text {
    font-size: 1.5em;
    margin: 5% auto 0;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    border-top: 1px solid black;
    width: 60vw;
    
}

/* This is the button section where the user selects their hand */
.btn-container {
    display: flex;
    width: 60vw;
    margin: 0 auto;
    justify-content: space-around;
}

button > img {
    width: 10vw;
    height: 15vh;   
}

button {
    background-color: #e4e4e5;
    border: none;
    transition: 100ms;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

h3 {
    text-align: center;
}


#winnerMessage {
    display: none;
}

#winnerMessage.show {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 10px solid #BEA5F3;
    border-radius: 20%;
    background-color: #F9F5FF;
    color: black;
    width: 60%;
    height: 25%;
    font-size: 1.5em;
}

#winnerMessage > p {
 display: flex;
 justify-content: center;
 padding-top: 4%;
}

#winnerMessage > button {
    border-radius: 25%;
    padding: 2%;
    background-color: #D4C2FC;
    margin-bottom: 10px;
    display: flex;
    margin: 0 auto;
}

#winnerMessage > button:hover {
    cursor: pointer;
    border: 2px solid #C6B2F1;
    
}

@media screen and (max-width: 1280px){
    #winnerMessage.show {
        width: 80%;
        font-size: 1.2em;
    }

    #winnerMessage > p {
        padding-top: 8%;
       }

}


/* This is the media queries section for smaller screens */
@media screen and (max-width: 700px){
    .score-area {
        width: 80vw;
        font-size: 1em;
    }

    .btn-container {
        width: 80vw;
    }

    #winnerMessage.show {
        width: 80%;
        font-size: 1em;
        height: 20%;
    }


}

@media screen and (max-width: 420px){
    
    .score-area {
        width: 95vw;
        font-size: small;
    }

    .choice {
        width: 70%;
         
    }

    button > img {
        width: 15vw;
        height: 10vh;   
    }

    #game-players {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: .7em;
        
    }
    

}

@media screen and (max-width: 360px){
    .score-area {
        width: 100%;
        font-size: small;
    }

    #game-players {
        
        font-size: x-small;
        
    }

    .choose-hand-text {
        font-size: 1.2em;
        
        
    }

}